{% extends 'base.html' %}

{% block title %}
Inicio
{% endblock %}

{% block content %}

<h1>Personajes</h1>

{% if noneCh == None %}

<p>No hay personajes insertados</p><br>
<a href="{{url_for('character.insertCharacter')}}">Insertar personajes</a>

{% else %}
    <table>
        <thead>
            <td>Nombre</td>
            <td>Perfil</td>
        </thead>
        <tbody>
            {% for character in characters %}
            <tr>
                <td><a href="{{url_for('character.perfil', idRM = character.idRM)}}">{{character.name}}</a></td>
                <td><a href="{{url_for('character.perfil', idRM = character.idRM)}}">Ir al perfil</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}